[submodule "breakout-tt4-qfn/tinytapeout-kicad-libs"]
	path = breakout-tt04-qfn/tinytapeout-kicad-libs
	url = https://github.com/TinyTapeout/tinytapeout-kicad-libs.git
[submodule "ASIC-simulator/tt3-fpga-ICE40UP5k/tinytapeout-kicad-libs"]
	path = ASIC-simulator/tt3-fpga-ICE40UP5k/tinytapeout-kicad-libs
	url = https://github.com/TinyTapeout/tinytapeout-kicad-libs.git
[submodule "ASIC-simulator/tt4-fpga-ICE40HK/tinytapeout-kicad-libs"]
	path = ASIC-simulator/tt4-fpga-ICE40HK/tinytapeout-kicad-libs
	url = https://github.com/TinyTapeout/tinytapeout-kicad-libs.git
