# FabricFox PCF
set_io clk   20
set_io projreset 37
set_io led_0 39
set_io led_1 40
set_io led_2 41
set_io ui_in0 18
set_io ui_in1 19
set_io ui_in2 25
set_io ui_in3 26
set_io ui_in4 27
set_io ui_in5 28
set_io ui_in6 23
set_io ui_in7 31
set_io uio0 38
set_io uio1 36
set_io uio2 42
set_io uio3 43
set_io uio4 44
set_io uio5 45
set_io uio6 47
set_io uio7 46
set_io uo_out0 2
set_io uo_out1 48
set_io uo_out2 4
set_io uo_out3 3
set_io uo_out4 9
set_io uo_out5 6
set_io uo_out6 11
set_io uo_out7 10
set_frequency clk  12.0
